.main-division{
  height:100vh;
}

#main-division-level1{
  
}

#main-division-level2{
background-color: $yellow;

}

#main-division-level3{
  background-color: $blue;

}

#main-division-level4{
  background-color: $green;

}
