---
title: Visio welcome page
---
<div class="index-main-info">
	<div class="flex" id="boxes-container">
		<div class="flex-item" id="flex-item-1">
			<h3>Arrêt</h3>
		</div>
		<div class="flex-item" id="flex-item-2">
			<h3>Innovation</h3>
		</div>
	</div>
</div>
