---
title: About Me
---



<div id="Profil-sum-container"   class="Container-Left Card-White">
	<!-- Title + Picture-->
	<div id="MyPic">
		<%= image_tag 'MyProfil.JPG' %>
		<!--img src="Picture/MyProfil.JPG" alt="My Logo" id="PicOfMe"-->
	</div>
	<div id="Profil-Title-H1">
		<h1>Who I am</h1>
	</div>
	<!-- Profil short summary on top-->
	<div id="Profil-div-sum">	
		<h2>Few words about me</h2>
		<p>My name is Cyril Leroux, I am french and ....</p>
	</div>		
	<div class="Container-Right">
		<!-- Skill profil-->
		<div id="Profil-div-skills" class="Card-White Card-Shadow Card-Padding Card-Marging" >
			<h2>Skills</h2>
		</div>
	</div>
</div>
<!-- Clear the float effect-->
<div class="Clear"></div>