---
title: Referenciers list
---

<div class="index-main-info">
  <h2>Referencier list</h2>
  <div id="search-criteria">
      <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
        <div id="ref-search-referencier-param">
        </div>
        <div class="search-buttons">
          <button class = "btn" type="button" name="button-search">Search</button>
          <button class = "btn" type="button" name="button-erase">Erase</button>
        </div>
      </nav>
  </div>
  <div id="referenciers-list">
    <table class="table table-hover table-bordered">
      <tr>
        <th>National central</th>
        <th>Retailer</th>
        <th>Local central</th>
        <th>Category</th>
        <th>Circuit</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Auchan</td>
        <td>Auchan</td>
        <td>Lesquin</td>
        <td>Biscuit</td>
        <td>HM</td>
        <td></td>
      </tr>
      <tr>
        <td>Auchan</td>
        <td>Auchan</td>
        <td>Lesquin</td>
        <td>Poudre</td>
        <td>HM</td>
        <td></td>
      </tr>
    </table>
  </div>
</div><!-- Div class="index-main-info"-->
