---
title: Referenciers details
---

<div class="index-main-info">
  <h2>Referencier list</h2>
  <div id="search-criteria">
      <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
        <div id="ref-search-referencier-param">

        </div>
        <div class="search-buttons">
          <button class = "btn" type="button" name="button-search">Search</button>
          <button class = "btn" type="button" name="button-erase">Erase</button>
        </div>
      </nav>
  </div>
  <div id="referencier-details">
    <table id="referencier_list">
      <tr>
        <th>Category</th>
        <th>Market</th>
        <th>Retailer</th>
        <th>National Central</th>
        <th>Local Central</th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    <div class="validation-buttons">
      <button class = "btn" type="button" name="button-validation">Validation</button>
      <button class = "btn" type="button" name="button-cancel">Cancel</button>
    </div>
  </div>
</div><!-- Div class="index-main-info"-->
