---
title: Users management page
---

<div class="index-main-info">
  <h2>Users management</h2>
  <div id="search-criteria">
      <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
        <div id="ref-search-referencier-param">

        </div>
        <div>
          <button class = "btn" type="button" name="button-search">Search</button>
          <button class = "btn" type="button" name="button-erase">Erase</button>
        </div>
      </nav>
  </div>
  <div id="referencier-details">

    <div>
      <button>Validation</button>
      <button>Cancel</button>
    </div>
  </div>
</div><!-- Div class="index-main-info"-->
