---
title: Users management page
---

<div class="index-main-info">
  <h2>Users management</h2>
  <div id="search-criteria">
    <div class="search-param">
      <form class="form-inline">
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category">
            <% data.categories.each do |category| %>
              <option>category.code category.label </option>
            <% end %>
          </select>
        </div>
        <div class="form-group search-buttons">
          <button class = "btn" type="submit" name="button-search">Search</button>
          <button class = "btn" type="submit" name="button-erase">Erase</button>
        </div>
      </form>
    </div>
  </div>
  <div class="result-display" id="users-list">
    <table class="table table-hover table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>Profil</th>
        <th>Direction</th>
        <th>Category</th>
        <th>Country</th>
        <th>Login</th>
        <th>Password</th>
      </tr>
      <% data.users.each do |user| %>
        <tr>
          <td>user.fname</td>
          <td>user.lname</td>
          <td>user.email/td>
          <td>user.profil</td>
          <td>user.category</td>
          <td>user.country</td>
          <td>user.login</td>
          <td>user.password</td>
          <td></td>
          <tr>
            <div>
              <form action="">

              </form>
            </div>
            <div>
              
            </div>
          </tr>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="validation-buttons">
    <button class = "btn" type="button" name="button-validation">Validation</button>
    <button class = "btn" type="button" name="button-cancel">Cancel</button>
  </div>
</div><!-- Div class="index-main-info"-->
